<div class="container">
  <div class="card-panel z-depth-3">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :username, "Nombre de usuario" %><br>
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email, "Correo electronico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> Caracteres minimo</em>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :current_password, "Ingresa contraseña actual" %><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", class: "btn" %>
      </div>
    <% end %>

    <h3>Cancelar mi cuenta</h3>

    <p>Seguro? <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "Seguro que decea eliminarla?" }, class: "btn red darken-4", method: :delete %></p>

    <%= link_to "Regresar", :back %>
  </div>
</div>

