<div class="container">
  <div class="card-panel z-depth-3">
    <%= image_tag @pic.image.url, class: "images-show" %>

    <p>
      <span class="image-title"><%= @pic.title %></span>
    </p>
    <br>

    <p>
      <span class="image-description"><%= @pic.description %></span>
    </p>
    <br>

    <p class="image-create-by">Creado por: <%= current_user.username %></p>
    <br>

    <% if user_signed_in? %>
      <%= link_to "Editar", edit_pic_path, class: "btn blue darken-3" %>
      <%= link_to "Eliminar", pic_path, class: "btn red darken-4", method: :delete, data: { confirm: "Seguro que decea eliminarlo?" } %>
    <% end %>
  </div>
</div>
