<%= image_tag @pic.image.url(:thumb) %>

<p>
  <span>Titulo: <%= @pic.title %></span>
</p>

<p>
  <span>Descripción: <%= @pic.description %></span>
</p>

<p>Creado por: <%= current_user.username %></p>

<% if user_signed_in? %>
  <%= link_to "Editar", edit_pic_path %>
  <%= link_to "Eliminar", pic_path, method: :delete, data: { confirm: "Seguro que decea eliminarlo?" } %>
<% end %>