<div class="container">
  <div class="card-panel z-depth-2">
    <h2>Iniciar sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email, "Correo electronico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="input-field col s12">
            <%= f.check_box :remember_me, class: "with-gap" %>
            <%= f.label :remember_me, "Recordarme" %>
          </div>
        </div>
      <% end -%>
      <br>

      <div class="row">
        <div class="actions">
          <%= f.submit "Iniciar sesión", class: "waves-effect waves-light btn" %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    
  </div>
</div>
